<div id="flash_messages">
  <%= render 'shared/flash_messages', tweet: @tweet %>
</div>
<%= form_with(model: tweet, class: "contents", data: { controller: "tweet", action: "turbo:submit-end->tweet#clearTextarea input->tweet#resize input->tweet#checkLength", local: false }) do |form| %>
  <div class="p-4 tweet-border">
    <%= form.text_area :body, data: { tweet_target: "textarea" }, class: "tweet-textarea", rows: "1", placeholder: "Hello, #{ user_signed_in? ? current_user.username : "Stranger" }. What's happening?" %>
    <div class="flex justify-end items-center text-center mt-4">
      <div data-tweet-target="count" class="tweet-char-count"></div>
      <% if user_signed_in? %>
        <%= form.submit "Tweet", class: "tweet-submit", data: { tweet_target: "submit" } %>
        <% else %>
        <%= link_to "Log in to create tweets", new_user_session_path, class: "tweet-submit" %>
      <% end %>
    </div>
  </div>
<% end %>
