<%= form_with model: resource, url: session_path(resource_name) do |f| %>
  <div class="form-main-div">

    <div class="form-logo-div">
      <%= inline_svg("form.svg", class: "form-icon h-20") %>
      <h2 class="form-h2">Sign in to your account</h2>

      <%= render "users/shared/error_messages", resource: resource %>

    </div>

    <div class="form-div-group">
      <div class="space-y-6">
        <div>
          <%= f.label :email, "Email address", class: "form-label" %>
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
          </div>
        </div>

        <div>
          <%= f.label :password, "Password", class: "form-label" %>
          <div class="mt-2 mb-4">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-field" %>
          </div>
        </div>

        <div>
          <%= f.submit "Log in", class: "form-submit" %>
        </div>
      </div>

      <p class="form-div-link">
        Not a member?
        <%= link_to "Create account", new_user_registration_path, class: "form-link" %> <span aria-hidden="true">&rarr;</span>
      </p>
    </div>
  </div>
<% end %>
