<div class="main-div flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="tweet-notice" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'tweets/tweet', tweet: @tweet %>

    <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class: "tweet-button" %>
    <%= link_to "Back to tweets", tweets_path, class: "tweet-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this tweet", @tweet, method: :delete, class: "tweet-button" %>
    </div>
  </div>
</div>
