<% flash.each do |type, message| %>
  <% if message.present? %>
    <% bg_color, border_color, text_color = case type
                                            when 'notice' then ['notice']
                                            when 'alert' then ['alert']
                                            end %>

    <div class="flash-position <%= bg_color %> <%= border_color %> <%= text_color %>"
         role="alert"
         data-controller="flash"
         data-flash-timeout-value="5000">
      <p class="font-bold"><%= type.capitalize %></p>
      <p><%= message %></p>
    </div>
  <% end %>
<% end %>
