<% content_for :header_title do %>
  Sign up
<% end %>

<%= form_with model: resource, url: registration_path(resource_name) do |f| %>
  <div id="form" class="main-div">

    <div class="logo-div">
      <h2 class="h2">Create account</h2>

      <%= render "users/shared/error_messages", resource: resource %>

    </div>

    <div class="div-group">
      <div class="space-y-6">
        <div>
          <%= f.label :email, "Email address", class: "label" %>
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
          </div>
        </div>

        <div>
          <%= f.label :username, "Username", class: "label" %>
          <div class="mt-2">
            <%= f.text_field :username, class: "field" %>
          </div>
        </div>

        <div>
          <%= f.label :password, "Password", class: "label" %>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "new-password", class: "field" %>
          </div>
        </div>

        <div>
          <%= f.label :password_confirmation, "Password confirmation", class: "label" %>
          <div class="mt-2 mb-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field" %>
          </div>
        </div>

        <div>
          <%= f.submit "Sign up", class: "submit" %>
        </div>
      </div>
      <p class="div-link">
        Already have an account?
        <%= link_to "Log in", new_user_session_path, class: "link" %> <span aria-hidden="true">&rarr;</span>
      </p>
    </div>
  </div>
<% end %>
